In [7]:
import pandas as pd
import numpy as np

In [113]:
df = pd.read_csv("D:\\ITI\\import\\Python\\pima\\archive\\coaster_db.csv")
print(df)

                                coaster_name                Length  \
0                         Switchback Railway        600 ft (180 m)
1                          Flip Flap Railway                   NaN
2     Switchback Railway (Euclid Beach Park)                   NaN
3               Loop the Loop (Coney Island)                   NaN
4               Loop the Loop (Young's Pier)                   NaN
...                                      ...                   ...
1082                 American Dreier Looping    3,444 ft (1,050 m)
1083               Pantheon (roller coaster)    3,328 ft (1,014 m)
1084               Tron Lightcycle Power Run  3,169.3 ft (966.0 m)
1085                                 Tumbili        770 ft (230 m)
1086          Wonder Woman Flight of Courage    3,300 ft (1,000 m)

                        Speed                        Location  \
0            6 mph (9.7 km/h)                    Coney Island
1                         NaN                   Sea Lion Park
2                         NaN  Cleveland, Ohio, United States
3                         NaN                           Other
4                         NaN                           Other
...                       ...                             ...
1082         53 mph (85 km/h)                           Other
1083        73 mph (117 km/h)      Busch Gardens Williamsburg
1084  59.3[1] mph (95.4 km/h)                           Other
1085         34 mph (55 km/h)                  Kings Dominion
1086         58 mph (93 km/h)        Six Flags Magic Mountain

                  Status   Opening date                                  Type  \
0                Removed  June 16, 1884                                  Wood
1                Removed           1895                                  Wood
2                 Closed            NaN                                 Other
3                Removed           1901                                 Steel
4                Removed           1901                                 Steel
...                  ...            ...                                   ...
1082                 NaN            NaN                                 Steel
1083  Under construction           2022                      Steel – Launched
1084                 NaN  June 16, 2016                      Steel – Launched
1085  Under construction            NaN  Steel – 4th Dimension – Wing Coaster
1086  Under construction           2022                   Steel – Single-rail

                     Manufacturer Height restriction  \
0          LaMarcus Adna Thompson                NaN
1                    Lina Beecher                NaN
2                             NaN                NaN
3                  Edwin Prescott                NaN
4                  Edwin Prescott                NaN
...                           ...                ...
1082            Anton Schwarzkopf     55 in (140 cm)
1083                      Intamin                NaN
1084                       Vekoma   4[2] ft (122 cm)
1085    S&S – Sansei Technologies                NaN
1086  Rocky Mountain Construction                NaN

                         Model  ...     speed1     speed2 speed1_value  \
0                  Lift Packed  ...     6 mph    9.7 km/h          6.0
1                          NaN  ...        NaN        NaN          NaN
2                          NaN  ...        NaN        NaN          NaN
3                          NaN  ...        NaN        NaN          NaN
4                          NaN  ...        NaN        NaN          NaN
...                        ...  ...        ...        ...          ...
1082                       NaN  ...    53 mph     85 km/h         53.0
1083             Blitz Coaster  ...    73 mph    117 km/h         73.0
1084  Motorbike roller coaster  ...  59.3 mph   95.4 km/h         59.3
1085              4D Free Spin  ...    34 mph     55 km/h         34.0
1086           Raptor – Custom  ...    58 mph     93 km/h         58.0

     speed1_unit speed_mph height_value height_unit height_ft  \
0            mph       6.0         50.0          ft       NaN
1            NaN       NaN          NaN         NaN       NaN
2            NaN       NaN          NaN         NaN       NaN
3            NaN       NaN          NaN         NaN       NaN
4            NaN       NaN          NaN         NaN       NaN
...          ...       ...          ...         ...       ...
1082         mph      53.0        111.0          ft       NaN
1083         mph      73.0        178.0          ft       NaN
1084         mph      59.3         78.1          ft       NaN
1085         mph      34.0        112.0          ft       NaN
1086         mph      58.0        131.0          ft       NaN

     Inversions_clean Gforce_clean
0                   0          2.9
1                   1         12.0
2                   0          NaN
3                   1          NaN
4                   1          NaN
...               ...          ...
1082                3          4.7
1083                2          NaN
1084                0          4.0
1085                0          NaN
1086                3          NaN

[1087 rows x 56 columns]

In [114]:
df.shape

(1087, 56)

In [115]:
df.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,...,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [116]:
df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [15]:
df.dtypes

coaster_name                      object
Length                            object
Speed                             object
Location                          object
Status                            object
Opening date                      object
Type                              object
Manufacturer                      object
Height restriction                object
Model                             object
Height                            object
Inversions                       float64
Lift/launch system                object
Cost                              object
Trains                            object
Park section                      object
Duration                          object
Capacity                          object
G-force                           object
Designer                          object
Max vertical angle                object
Drop                              object
Soft opening date                 object
Fast Lane available               object
Replaced                          object
Track layout                      object
Fastrack available                object
Soft opening date.1               object
Closing date                      object
Opened                            object
Replaced by                       object
Website                           object
Flash Pass Available              object
Must transfer from wheelchair     object
Theme                             object
Single rider line available       object
Restraint Style                   object
Flash Pass available              object
Acceleration                      object
Restraints                        object
Name                              object
year_introduced                    int64
latitude                         float64
longitude                        float64
Type_Main                         object
opening_date_clean                object
speed1                            object
speed2                            object
speed1_value                     float64
speed1_unit                       object
speed_mph                        float64
height_value                     float64
height_unit                       object
height_ft                        float64
Inversions_clean                   int64
Gforce_clean                     float64
dtype: object

In [118]:
df[[
    'coaster_name',
    #'Length', 'Speed', 
    'Location', 'Status', 
    #'Opening date',
    #'Type', 
    'Manufacturer', 
    #'Height restriction', 'Model', 'Height',
       #'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       #'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       #'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       #'Track layout', 'Fastrack available', 'Soft opening date.1',
       #'Closing date', 
    #'Opened',
    #'Replaced by', 'Website',
       #'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       #'Single rider line available', 'Restraint Style',
       #'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
    'year_introduced', 'latitude', 'longitude','Type_Main',
    'opening_date_clean',
    #'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 
    #'height_value', 'height_unit', 
    'height_ft',
    'Inversions_clean', 'Gforce_clean'
    
    
]]

,coaster_name,Location,Status,Manufacturer,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.5740,-73.9780,Wood,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,Edwin Prescott,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,Edwin Prescott,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,American Dreier Looping,Other,NaN,Anton Schwarzkopf,2022,NaN,NaN,Steel,NaN,53.0,NaN,3,4.7
1083,Pantheon (roller coaster),Busch Gardens Williamsburg,Under construction,Intamin,2022,37.2339,-76.6426,Steel,2022-01-01,73.0,NaN,2,NaN
1084,Tron Lightcycle Power Run,Other,NaN,Vekoma,2022,NaN,NaN,Steel,2016-06-16,59.3,NaN,0,4.0
1085,Tumbili,Kings Dominion,Under construction,S&S – Sansei Technologies,2022,NaN,NaN,Steel,NaN,34.0,NaN,0,NaN
1086,Wonder Woman Flight of Courage,Six Flags Magic Mountain,Under construction,Rocky Mountain Construction,2022,NaN,NaN,Steel,2022-01-01,58.0,NaN,3,NaN

In [24]:
# Example Of Drop Single Column
# df.drop(['Status'],axis =1)

In [119]:
df = df[[
    'coaster_name',
    #'Length', 'Speed', 
    'Location', 'Status', 
    #'Opening date',
    #'Type', 
    'Manufacturer', 
    #'Height restriction', 'Model', 'Height',
       #'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       #'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       #'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       #'Track layout', 'Fastrack available', 'Soft opening date.1',
       #'Closing date', 
    #'Opened',
    #'Replaced by', 'Website',
       #'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       #'Single rider line available', 'Restraint Style',
       #'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
    'year_introduced', 'latitude', 'longitude',
    'opening_date_clean','Type_Main',
    #'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 
    #'height_value', 'height_unit', 
    'height_ft',
    'Inversions_clean', 'Gforce_clean'
    
    
]].copy()

In [120]:
df.shape

(1087, 13)

In [121]:
df.columns

Index(['coaster_name', 'Location', 'Status', 'Manufacturer', 'year_introduced',
       'latitude', 'longitude', 'opening_date_clean', 'Type_Main', 'speed_mph',
       'height_ft', 'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [45]:
df

,coaster_name,Location,Status,Manufacturer,year_introduced,latitude,longitude,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.5740,-73.9780,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.5780,-73.9790,1895-01-01,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,1896,41.5800,-81.5700,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,Edwin Prescott,1901,40.5745,-73.9780,1901-01-01,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,Edwin Prescott,1901,39.3538,-74.4342,1901-01-01,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1082,American Dreier Looping,Other,NaN,Anton Schwarzkopf,2022,NaN,NaN,NaN,53.0,NaN,3,4.7
1083,Pantheon (roller coaster),Busch Gardens Williamsburg,Under construction,Intamin,2022,37.2339,-76.6426,2022-01-01,73.0,NaN,2,NaN
1084,Tron Lightcycle Power Run,Other,NaN,Vekoma,2022,NaN,NaN,2016-06-16,59.3,NaN,0,4.0
1085,Tumbili,Kings Dominion,Under construction,S&S – Sansei Technologies,2022,NaN,NaN,NaN,34.0,NaN,0,NaN
1086,Wonder Woman Flight of Courage,Six Flags Magic Mountain,Under construction,Rocky Mountain Construction,2022,NaN,NaN,2022-01-01,58.0,NaN,3,NaN

In [122]:
# Change Data Type
df['opening_date_clean'] = pd.to_datetime(df['opening_date_clean'])

In [50]:
df

,coaster_name,Location,Status,Manufacturer,year_introduced,latitude,longitude,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.5740,-73.9780,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.5780,-73.9790,1895-01-01,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,1896,41.5800,-81.5700,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,Edwin Prescott,1901,40.5745,-73.9780,1901-01-01,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,Edwin Prescott,1901,39.3538,-74.4342,1901-01-01,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1082,American Dreier Looping,Other,NaN,Anton Schwarzkopf,2022,NaN,NaN,NaN,53.0,NaN,3,4.7
1083,Pantheon (roller coaster),Busch Gardens Williamsburg,Under construction,Intamin,2022,37.2339,-76.6426,2022-01-01,73.0,NaN,2,NaN
1084,Tron Lightcycle Power Run,Other,NaN,Vekoma,2022,NaN,NaN,2016-06-16,59.3,NaN,0,4.0
1085,Tumbili,Kings Dominion,Under construction,S&S – Sansei Technologies,2022,NaN,NaN,NaN,34.0,NaN,0,NaN
1086,Wonder Woman Flight of Courage,Six Flags Magic Mountain,Under construction,Rocky Mountain Construction,2022,NaN,NaN,2022-01-01,58.0,NaN,3,NaN

In [53]:
df.dtypes

coaster_name                  object
Location                      object
Status                        object
Manufacturer                  object
year_introduced                int64
latitude                     float64
longitude                    float64
opening_date_clean    datetime64[ns]
speed_mph                    float64
height_ft                    float64
Inversions_clean               int64
Gforce_clean                 float64
dtype: object

In [123]:
# Change Data Types 
df['year_introduced'] = pd.to_numeric(df['year_introduced'])

In [124]:
 # Rename Columns 
df = df.rename(columns = {
    'coaster_name' : 'Coaster_Name',
    'year_introduced' : 'Year_Introduced',
    'latitude'        : 'Latitude',
    'longitude'       : 'Longitude',
    'opening_date_clean' :'Opening_Date_Clean',
    'speed_mph'          : 'Speed_Mph',
    'height_ft'          : 'height_Ft',
    'Inversions_clean'   : 'Inversions_Clean',
    'Gforce_clean'       : 'Gforce_Clean'
    
    
})

In [125]:
# Know Missing Value
df.isna().sum()

Coaster_Name            0
Location                0
Status                213
Manufacturer           59
Year_Introduced         0
Latitude              275
Longitude             275
Opening_Date_Clean    250
Type_Main               0
Speed_Mph             150
height_Ft             916
Inversions_Clean        0
Gforce_Clean          725
dtype: int64

In [126]:
#Knowing Duplicate
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1082    False
1083    False
1084    False
1085    False
1086    False
Length: 1087, dtype: bool

In [127]:
#df['Coaster_Name'].duplicated()
#df.loc[:,'Coaster_Name'].duplicated()
df.duplicated(subset='Coaster_Name')

0       False
1       False
2       False
3       False
4       False
        ...
1082     True
1083    False
1084     True
1085    False
1086    False
Length: 1087, dtype: bool

In [141]:
#df.loc[df['Coaster_Name'].duplicated()]
df.loc[df.duplicated(subset='Coaster_Name')]

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,Latitude,Longitude,Opening_Date_Clean,Type_Main,Speed_Mph,height_Ft,Inversions_Clean,Gforce_Clean
43,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1927,42.8617,-79.0598,1926-01-01,Wood,60.0,NaN,0,4.0
60,Derby Racer,Revere Beach,Removed,Fred W. Pearce,1937,42.4200,-70.9860,1911-01-01,Wood,NaN,NaN,0,NaN
61,Blue Streak (Conneaut Lake),Conneaut Lake Park,Closed,NaN,1938,41.6349,-80.3180,1938-05-23,Wood,50.0,NaN,0,NaN
167,Big Thunder Mountain Railroad,Other,NaN,Arrow Development (California and Florida)Dyna...,1980,NaN,NaN,NaT,Steel,35.0,NaN,0,NaN
237,Thunder Run (Canada's Wonderland),Canada's Wonderland,Operating,Mack Rides,1986,43.8427,-79.5423,1981-05-23,Steel,39.8,32.8,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,Lil' Devil Coaster,Six Flags Great Adventure,Operating,Zamperla,2021,40.1343,-74.4434,1999-01-01,Steel,NaN,NaN,0,NaN
1064,Little Dipper (Conneaut Lake Park),Conneaut Lake Park,Operating,Allan Herschell Company,2021,41.6343,-80.3165,1950-01-01,Steel,NaN,NaN,0,NaN
1080,Iron Gwazi,Busch Gardens Tampa Bay,Under construction,Rocky Mountain Construction,2022,28.0339,-82.4231,NaT,Steel,76.0,NaN,2,NaN
1082,American Dreier Looping,Other,NaN,Anton Schwarzkopf,2022,NaN,NaN,NaT,Steel,53.0,NaN,3,4.7
1084,Tron Lightcycle Power Run,Other,NaN,Vekoma,2022,NaN,NaN,2016-06-16,Steel,59.3,NaN,0,4.0

In [142]:
#df.loc[df['Coaster_Name'] == 'Crystal Beach Cyclone']
#df.loc[df.Coaster_Name == 'Crystal Beach Cyclone']
df.query('Coaster_Name == "Crystal Beach Cyclone"')

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,Latitude,Longitude,Opening_Date_Clean,Type_Main,Speed_Mph,height_Ft,Inversions_Clean,Gforce_Clean
39,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1926,42.8617,-79.0598,1926-01-01,Wood,60.0,NaN,0,4.0
43,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1927,42.8617,-79.0598,1926-01-01,Wood,60.0,NaN,0,4.0

In [129]:
#df.duplicated (subset = ['Coaster_Name','Location','Status'])
df[['Coaster_Name','Location','Status']].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1082     True
1083    False
1084     True
1085    False
1086    False
Length: 1087, dtype: bool

In [133]:
#df.loc[df[['Coaster_Name','Location','Status']].duplicated()]
df.loc[df.duplicated(subset=['Coaster_Name','Location','Status'])]

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,Latitude,Longitude,Opening_Date_Clean,Type_Main,Speed_Mph,height_Ft,Inversions_Clean,Gforce_Clean
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.5740,-73.9780,1884-06-16,Wood,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.5780,-73.9790,1895-01-01,Wood,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,1896,41.5800,-81.5700,NaT,Other,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,Edwin Prescott,1901,40.5745,-73.9780,1901-01-01,Steel,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,Edwin Prescott,1901,39.3538,-74.4342,1901-01-01,Steel,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,Ice Breaker (roller coaster),SeaWorld Orlando,Under construction,Premier Rides,2022,28.4088,-81.4633,2022-02-01,Steel,52.0,NaN,0,NaN
1081,Leviathan (Sea World),Sea World,Under construction,Martin & Vleminckx,2022,-27.9574,153.4263,2022-01-01,Wood,49.7,105.0,0,NaN
1083,Pantheon (roller coaster),Busch Gardens Williamsburg,Under construction,Intamin,2022,37.2339,-76.6426,2022-01-01,Steel,73.0,NaN,2,NaN
1085,Tumbili,Kings Dominion,Under construction,S&S – Sansei Technologies,2022,NaN,NaN,NaT,Steel,34.0,NaN,0,NaN
1086,Wonder Woman Flight of Courage,Six Flags Magic Mountain,Under construction,Rocky Mountain Construction,2022,NaN,NaN,2022-01-01,Steel,58.0,NaN,3,NaN

In [132]:
#df.query("Coaster_Name == 'Crystal Beach Cyclone'")
df.loc[df['Coaster_Name'] == 'Crystal Beach Cyclone']

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,Latitude,Longitude,Opening_Date_Clean,Type_Main,Speed_Mph,height_Ft,Inversions_Clean,Gforce_Clean
39,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1926,42.8617,-79.0598,1926-01-01,Wood,60.0,NaN,0,4.0
43,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1927,42.8617,-79.0598,1926-01-01,Wood,60.0,NaN,0,4.0

In [134]:
# Select Un Destinct
df.loc[~df.duplicated(subset=['Coaster_Name','Location','Status'])]

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,Latitude,Longitude,Opening_Date_Clean,Type_Main,Speed_Mph,height_Ft,Inversions_Clean,Gforce_Clean
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.5740,-73.9780,1884-06-16,Wood,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.5780,-73.9790,1895-01-01,Wood,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,1896,41.5800,-81.5700,NaT,Other,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,Edwin Prescott,1901,40.5745,-73.9780,1901-01-01,Steel,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,Edwin Prescott,1901,39.3538,-74.4342,1901-01-01,Steel,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,Ice Breaker (roller coaster),SeaWorld Orlando,Under construction,Premier Rides,2022,28.4088,-81.4633,2022-02-01,Steel,52.0,NaN,0,NaN
1081,Leviathan (Sea World),Sea World,Under construction,Martin & Vleminckx,2022,-27.9574,153.4263,2022-01-01,Wood,49.7,105.0,0,NaN
1083,Pantheon (roller coaster),Busch Gardens Williamsburg,Under construction,Intamin,2022,37.2339,-76.6426,2022-01-01,Steel,73.0,NaN,2,NaN
1085,Tumbili,Kings Dominion,Under construction,S&S – Sansei Technologies,2022,NaN,NaN,NaT,Steel,34.0,NaN,0,NaN
1086,Wonder Woman Flight of Courage,Six Flags Magic Mountain,Under construction,Rocky Mountain Construction,2022,NaN,NaN,2022-01-01,Steel,58.0,NaN,3,NaN

In [137]:
df.loc[df['Coaster_Name'] == 'Crystal Beach Cyclone']

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,Latitude,Longitude,Opening_Date_Clean,Type_Main,Speed_Mph,height_Ft,Inversions_Clean,Gforce_Clean
39,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1926,42.8617,-79.0598,1926-01-01,Wood,60.0,NaN,0,4.0
43,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1927,42.8617,-79.0598,1926-01-01,Wood,60.0,NaN,0,4.0